BABEL_SEED=1
BABEL_LOG_LEVEL=INFO
BABEL_SERVICE_A_URL=http://localhost:8101
BABEL_SERVICE_B_HOST=localhost
BABEL_SERVICE_B_PORT=8201
BABEL_SERVICE_C_HOST=localhost
BABEL_SERVICE_C_PORT=8301
BABEL_CONTROL_URL=http://localhost:8090
BABEL_CONTROL_TOKEN=babel-local-dev
